OPENWEATHER_API_KEY='xxxxxxxx'
LATITUDE='xxxxxxxx'
LONGITUDE='xxxxxxxx'
PARTS='xxxxxxxx'
AIR4THAI_STATIONID='xxxxxxxx'
SUPABASE_PASSWORD='xxxxxxxx'
SUPABASE_URL='xxxxxxxx'
SUPABASE_KEY='xxxxxxxx'
AIRFLOW_USER='xxxxxxxx'
AIRFLOW_PASS='xxxxxxxx'