OPENWEATHER_API_KEY=your_openweather_api_key
LATITUDE=your_latitude
LONGITUDE=your_longitude
PARTS=current
AIR4THAI_STATIONID=your_station_id
SUPABASE_PASSWORD=your_supabase_password
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key
AIRFLOW_USER=admin
AIRFLOW_PASS=your_password
